
.another-exp a {
    color: inherit;          /* Uses the h4 text color */
    text-decoration: none;   /* Removes underline */
}


/* End Personal Profile Area css
============================================================================================ */
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/* Gallery Area css
============================================================================================ */
.isotope_fillter {
  margin-bottom: 50px; }
  .isotope_fillter .gallery_filter {
    text-align: center; }
    .isotope_fillter .gallery_filter li {
      display: inline-block;
      margin-right: 45px; }
      .isotope_fillter .gallery_filter li:last-child {
        margin-right: 0px; }
      .isotope_fillter .gallery_filter li a {
        font-size: 12px;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        color: #222222;
        transition: all 300ms linear 0s;
        text-transform: uppercase; }
      .isotope_fillter .gallery_filter li:hover a, .isotope_fillter .gallery_filter li.active a {
        color: #766dff; }

.gallery_f_inner {
  margin-bottom: -45px; }

.h_gallery_item {
  display: inline-block;
  margin-bottom: 45px; }
  .h_gallery_item .g_img_item {
    position: relative;
    text-align: center;
    overflow: hidden;
    border-radius: 5px; }
    .h_gallery_item .g_img_item:before {
      content: "";
      width: 100%;
      height: 100%;
      left: 0px;
      top: 0px;
      background-image: -moz-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
      background-image: -ms-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
      position: absolute;
      opacity: 0;
      transition: all 300ms ease; }
    .h_gallery_item .g_img_item .light {
      position: absolute;
      left: 0px;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      text-align: center;
      opacity: 0; }
  .h_gallery_item .g_item_text {
    text-align: center; }
    .h_gallery_item .g_item_text h4 {
      color: #222222;
      font-size: 21px;
      margin-top: 22px;
      transition: all 300ms linear 0s; }
    .h_gallery_item .g_item_text p {
      margin-bottom: 0px; }
  .h_gallery_item:hover .g_img_item:before {
    opacity: .85; }
  .h_gallery_item:hover .g_img_item .light {
    opacity: 1; }
  .h_gallery_item:hover .g_item_text h4:hover {
    color: #766dff; }

.more_btn {
  text-align: center;
  margin-top: 80px; }

/* End Gallery Area css
============================================================================================ */
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/* Testimonials Area css
============================================================================================ */
.testimonials_area {
  background: #f9f9ff; }
  .testimonials_area.testi_two {
    background: #fff; }
    .testimonials_area.testi_two .testi_inner {
      margin-top: -20px;
      margin-bottom: -20px; }
    .testimonials_area.testi_two .owl-item {
      padding: 20px 0px; }
    .testimonials_area.testi_two .testi_item {
      background: #f9f9ff;
      border-color: #f9f9ff;
      transition: all 300ms linear 0s; }
      .testimonials_area.testi_two .testi_item:hover {
        background: #fff;
        border-color: #fff;
        box-shadow: 0px 10px 30px 0px rgba(153, 153, 153, 0.1); }

.testi_inner .col-lg-3 {
  vertical-align: middle;
  align-self: center; }

.test_title h2 {
  color: #222222;
  font-size: 36px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-bottom: 12px; }
.test_title p {
  margin-bottom: 0px; }

.testi_item {
  border: 1px solid #eeeeee;
  border-radius: 10px;
  background: #fff;
  padding: 40px 28px; }
  .testi_item p {
    font-style: italic; }
  .testi_item h4 {
    color: #222222;
    font-size: 18px;
    text-transform: uppercase; }
  .testi_item a {
    color: #ffc000; }

/* End Testimonials Area css
============================================================================================ */
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/* Footer Area css
============================================================================================ */
.footer_area {
  background: #000; }

.f_title {
  margin-bottom: 35px; }
  .f_title h3 {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    font-family: "Heebo", sans-serif;
    margin-bottom: 0px; }

.ab_widget p {
  font-size: 14px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  color: #777777;
  margin-bottom: 30px; }
  .ab_widget p a {
    color: #766dff; }
  .ab_widget p + p {
    margin-bottom: 0px; }

.news_widget {
  padding-right: 15px; }
  .news_widget p {
    font-size: 14px;
    line-height: 24px;
    font-family: "Roboto", sans-serif;
    color: #777777;
    margin-bottom: 15px; }
  .news_widget .input-group input {
    height: 40px;
    background: transparent;
    border-radius: 0px;
    width: 80%;
    border: none;
    padding: 0px 15px;
    border: 1px solid #1e233b;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    color: #cccccc;
    outline: none;
    box-shadow: none; }
    .news_widget .input-group input.placeholder {
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      font-weight: normal;
      color: #cccccc; }
    .news_widget .input-group input:-moz-placeholder {
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      font-weight: normal;
      color: #cccccc; }
    .news_widget .input-group input::-moz-placeholder {
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      font-weight: normal;
      color: #cccccc; }
    .news_widget .input-group input::-webkit-input-placeholder {
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      font-weight: normal;
      color: #cccccc; }
  .news_widget .input-group .sub-btn {
    border-radius: 0px;
    background-image: -moz-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
    background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
    background-image: -ms-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
    outline: none !important;
    box-shadow: none !important;
    padding: 0px;
    border: none;
    width: 42px;
    cursor: pointer;
    color: #fff; }

.social_widget p {
  font-size: 14px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  color: #777777;
  margin-bottom: 10px; }
.social_widget .list li {
  margin-right: 17px;
  display: inline-block; }
  .social_widget .list li a {
    color: #cccccc;
    font-size: 14px;
    transition: all 300ms linear 0s; }
  .social_widget .list li:last-child {
    margin-right: 0px; }
  .social_widget .list li:hover a {
    color: #766dff; }

.copy_right_text {
  text-align: center;
  margin-top: 60px; }
  .copy_right_text p a {
    color: #766dff; }
	
.banner-left h1 { 
    font-family: "Poppins", sans-serif;
}
.banner-left h1 span {
  text-transform: uppercase;
  font-weight: 600;
  font-size:36px;
}
.carousel-item img{
	width:100%;
}
.client-logo{
	height: 90px !important;   
    width: 140px !important;   
}
.client-white-bg{
	height: 90px !important;   
    width: 160px !important; 
}
.client-white-logo{
	height: 120px !important;
    width: 160px !important;
    margin-top: -15px;
    margin-bottom: -15px;
	
}
.img-icon{
	width: 85px;
    margin-bottom: 28px;
	margin:auto;
	display:block;
}
.header_area .navbar {
    background: black !important;   
    height: 70px;
}
.carousel-indicators li {
	width: 10px  !important;
    height: 10px  !important;   
    border-radius: 100%  !important;   
}
.carousel-bg{
	  padding-top: 76px !important;
    padding-bottom: 75px !important;
    background-color: #000000 !important;
}
.carousel-inner{
  width:100%;
  height: 100% !important;
}
.div-center{
	 height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  .carousel-inner img {
    width: 100%;
	height: 100%;
  }
 
@media (max-width: 992px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
    justify-content: center;
}

@media (min-width: 992px) {
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(16.6%);
    }
    
    .carousel-inner .carousel-item-left.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-16.6%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
    transform: translateX(0);
}


.pdng{
	padding-top:15px; !important;
	padding-bottom:15px; !important;
}
.custom-tab{
	    margin-bottom: 50px !important;
		position: relative;
        top: 20px;
}
	.welcome_text img{
		width:250px;
	}
.clients-main-title{
	margin: 0px auto 45px;
    padding-top: 45px;
}
/* End Footer Area css
============================================================================================ */
/*---------------------------------------------------- */

/*# sourceMappingURL=style.css.map */
