
.another-exp a {
    color: inherit;          /* Uses the h4 text color */
    text-decoration: none;   /* Removes underline */
}

.single-gallery-image {
  margin-top: 30px;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
  height: 200px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

.single-gallery-image:hover {
  opacity: .8; }

.list-style {
  width: 14px;
  height: 14px; }

.unordered-list li {
  position: relative;
  padding-left: 30px;
  line-height: 1.82em !important; }

.unordered-list li:before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border: 3px solid #f8b600;
  background: #fff;
  top: 4px;
  left: 0;
  border-radius: 50%; }

.ordered-list {
  margin-left: 30px; }

.ordered-list li {
  list-style-type: decimal-leading-zero;
  color: #f8b600;
  font-weight: 500;
  line-height: 1.82em !important; }

.ordered-list li span {
  font-weight: 300;
  color: #777777; }

.ordered-list-alpha li {
  margin-left: 30px;
  list-style-type: lower-alpha;
  color: #f8b600;
  font-weight: 500;
  line-height: 1.82em !important; }

.ordered-list-alpha li span {
  font-weight: 300;
  color: #777777; }

.ordered-list-roman li {
  margin-left: 30px;
  list-style-type: lower-roman;
  color: #f8b600;
  font-weight: 500;
  line-height: 1.82em !important; }

.ordered-list-roman li span {
  font-weight: 300;
  color: #777777; }

.single-input {
  display: block;
  width: 100%;
  line-height: 40px;
  border: none;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px; }

.single-input:focus {
  outline: none; }

.input-group-icon {
  position: relative; }

.input-group-icon .icon {
  position: absolute;
  left: 20px;
  top: 0;
  line-height: 40px;
  z-index: 3; }

.input-group-icon .icon i {
  color: #797979; }

.input-group-icon .single-input {
  padding-left: 45px; }

.single-textarea {
  display: block;
  width: 100%;
  line-height: 40px;
  border: none;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px;
  height: 100px;
  resize: none; }

.single-textarea:focus {
  outline: none; }

.single-input-primary {
  display: block;
  width: 100%;
  line-height: 40px;
  border: 1px solid transparent;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px; }

.single-input-primary:focus {
  outline: none;
  border: 1px solid #f8b600; }

.single-input-accent {
  display: block;
  width: 100%;
  line-height: 40px;
  border: 1px solid transparent;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px; }

.single-input-accent:focus {
  outline: none;
  border: 1px solid #eb6b55; }

.single-input-secondary {
  display: block;
  width: 100%;
  line-height: 40px;
  border: 1px solid transparent;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px; }

.single-input-secondary:focus {
  outline: none;
  border: 1px solid #f09359; }

.default-switch {
  width: 35px;
  height: 17px;
  border-radius: 8.5px;
  background: #fff;
  position: relative;
  cursor: pointer; }

.default-switch input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer; }

.default-switch input + label {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #f8b600;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer; }

.default-switch input:checked + label {
  left: 19px; }

.single-element-widget {
  margin-bottom: 30px; }

.primary-switch {
  width: 35px;
  height: 17px;
  border-radius: 8.5px;
  background: #fff;
  position: relative;
  cursor: pointer; }

.primary-switch input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0; }

.primary-switch input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%; }

.primary-switch input + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border-radius: 8.5px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }

.primary-switch input + label:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer; }

.primary-switch input:checked + label:after {
  left: 19px; }

.primary-switch input:checked + label:before {
  background: #f8b600; }

.confirm-switch {
  width: 35px;
  height: 17px;
  border-radius: 8.5px;
  background: #fff;
  position: relative;
  cursor: pointer; }

.confirm-switch input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0; }

.confirm-switch input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%; }

.confirm-switch input + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border-radius: 8.5px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer; }

.confirm-switch input + label:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer; }

.confirm-switch input:checked + label:after {
  left: 19px; }

.confirm-switch input:checked + label:before {
  background: #4cd3e3; }

.primary-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background: #fff;
  position: relative;
  cursor: pointer; }

.primary-checkbox input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0; }

.primary-checkbox input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #f1f1f1; }

.single-defination h4 {
  color: #222222; }

.primary-checkbox input:checked + label {
  background: url(../img/elements/primary-check.png) no-repeat center center/cover;
  border: none; }

.confirm-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background: #fff;
  position: relative;
  cursor: pointer; }

.confirm-checkbox input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0; }

.confirm-checkbox input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #f1f1f1; }

.confirm-checkbox input:checked + label {
  background: url(../img/elements/success-check.png) no-repeat center center/cover;
  border: none; }

.disabled-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background: #fff;
  position: relative;
  cursor: pointer; }

.disabled-checkbox input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0; }

.disabled-checkbox input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #f1f1f1; }

.disabled-checkbox input:disabled {
  cursor: not-allowed;
  z-index: 3; }

.disabled-checkbox input:checked + label {
  background: url(../img/elements/disabled-check.png) no-repeat center center/cover;
  border: none; }

.primary-radio {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #fff;
  position: relative;
  cursor: pointer; }

.primary-radio input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0; }

.primary-radio input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #f1f1f1; }

.primary-radio input:checked + label {
  background: url(../img/elements/primary-radio.png) no-repeat center center/cover;
  border: none; }

.confirm-radio {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #fff;
  position: relative;
  cursor: pointer; }

.confirm-radio input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0; }

.confirm-radio input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #f1f1f1; }

.confirm-radio input:checked + label {
  background: url(../img/elements/success-radio.png) no-repeat center center/cover;
  border: none; }

.disabled-radio {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #fff;
  position: relative;
  cursor: pointer; }

.disabled-radio input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0; }

.disabled-radio input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #f1f1f1; }

.disabled-radio input:disabled {
  cursor: not-allowed;
  z-index: 3; }

.unordered-list {
  list-style: none;
  padding: 0px;
  margin: 0px; }

.ordered-list {
  list-style: none;
  padding: 0px; }

.disabled-radio input:checked + label {
  background: url(../img/elements/disabled-radio.png) no-repeat center center/cover;
  border: none; }

.default-select {
  height: 40px; }

.default-select .nice-select {
  border: none;
  border-radius: 0px;
  height: 40px;
  background: #fff;
  padding-left: 20px;
  padding-right: 40px; }

.default-select .nice-select .list {
  margin-top: 0;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  width: 100%;
  padding: 10px 0 10px 0px; }

.default-select .nice-select .list .option {
  font-weight: 300;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  line-height: 28px;
  min-height: 28px;
  font-size: 12px;
  padding-left: 20px; }

.default-select .nice-select .list .option.selected {
  color: #f8b600;
  background: transparent; }

.default-select .nice-select .list .option:hover {
  color: #f8b600;
  background: transparent; }

.default-select .current {
  margin-right: 50px;
  font-weight: 300; }

.default-select .nice-select::after {
  right: 20px; }

@media (max-width: 991px) {
  .left-align-p p {
    margin-top: 20px; } }
.form-select {
  height: 40px;
  width: 100%; }

.form-select .nice-select {
  border: none;
  border-radius: 0px;
  height: 40px;
  background: #f9f9ff !important;
  padding-left: 45px;
  padding-right: 40px;
  width: 100%; }

.form-select .nice-select .list {
  margin-top: 0;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  width: 100%;
  padding: 10px 0 10px 0px; }

.mt-10 {
  margin-top: 10px; }

.form-select .nice-select .list .option {
  font-weight: 300;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  line-height: 28px;
  min-height: 28px;
  font-size: 12px;
  padding-left: 45px; }

.form-select .nice-select .list .option.selected {
  color: #f8b600;
  background: transparent; }

.form-select .nice-select .list .option:hover {
  color: #f8b600;
  background: transparent; }

.form-select .current {
  margin-right: 50px;
  font-weight: 300; }

.form-select .nice-select::after {
  right: 20px; }

/*---------------------------------------------------- */
/*----------------------------------------------------*/
/* Main Button Area css
============================================================================================ */
.main_btn {
  display: inline-block;
  background-image: linear-gradient(to right, #766dff 0%, #86e8ff 48%, #766dff 100%);
  background-size: 200% auto;
  padding: 0px 40px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 48px;
  border-radius: 0px;
  outline: none !important;
  box-shadow: none !important;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  transition: all 300ms linear 0s; }
  .main_btn:hover {
    background-position: right center;
    color: #fff; }

.main_btn2 {
  display: inline-block;
  background: #f9f9ff;
  padding: 0px 45px;
  color: #222222;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 48px;
  border-radius: 5px;
  outline: none !important;
  box-shadow: none !important;
  text-align: center;
  border: 1px solid #eeeeee;
  cursor: pointer;
  transition: all 300ms linear 0s; }
  .main_btn2:hover {
    background: #766dff;
    color: #fff;
    border-color: #766dff;
    box-shadow: 0px 10px 20px 0px rgba(250, 51, 63, 0.25); }

.submit_btn {
  width: auto;
  display: inline-block;
  background: #766dff;
  padding: 0px 50px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 50px;
  border-radius: 5px;
  outline: none !important;
  box-shadow: none !important;
  text-align: center;
  border: 1px solid #766dff;
  cursor: pointer;
  transition: all 300ms linear 0s; }
  .submit_btn:hover {
    background: transparent;
    color: #766dff; }

.white_bg_btn {
  display: inline-block;
  background: #f9f9ff;
  padding: 0px 35px;
  color: #222222;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 34px;
  border-radius: 0px;
  outline: none !important;
  box-shadow: none !important;
  text-align: center;
  cursor: pointer;
  transition: all 300ms linear 0s; }
  .white_bg_btn:hover {
    background-image: -moz-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
    background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
    background-image: -ms-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
    color: #fff;
    border: none; }

.black_btn {
  padding: 0px 44px;
  line-height: 50px;
  background: #222222;
  color: #766dff;
  display: inline-block;
  border-radius: 5px;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  transition: all 300ms linear 0s; }
  .black_btn:hover {
    background: #766dff;
    color: #222222; }

/* End Main Button Area css
============================================================================================ */
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/* Welcome Area css
============================================================================================ */
.welcome_inner .welcome_img {
  background: #eeeeee;
  margin-left: 40px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px; }
  .welcome_inner .welcome_img img {
    margin-top: -30px; }

.welcome_text h4 {
  color: #222222;
  font-family: "Heebo", sans-serif;
  font-size: 36px;
  margin-bottom: 18px;
  text-align:center;
  text-transform: uppercase; }
.welcome_text p {
	text-align:center;
  font-family: "Roboto", sans-serif;
  margin-bottom: 40px; }

.wel_item {
  border: 1px solid #eeeeee;
  padding: 20px 20px;
  border-radius: 5px; }
  .wel_item i {
    font-size: 24px;
    background: linear-gradient(to right, #766dff 0%, #86e7ff 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .wel_item h4 {
    font-size: 24px;
    font-family: "Heebo", sans-serif;
    font-weight: bold;
    color: #222222;
    margin-bottom: 5px;
    margin-top: 10px; }
  .wel_item p {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    color: #777777;
    margin-bottom: 0px; }

.tools_expert {
  padding: 20px 0px 0px 0px; }
  .tools_expert .skill_main .skill_item {
    margin-bottom: 18px; }
    .tools_expert .skill_main .skill_item:last-child {
      margin-bottom: 0px; }
    .tools_expert .skill_main .skill_item h4 {
      text-align: none;
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      color: #222222;
      margin-bottom: 15px; }
    .tools_expert .skill_main .skill_item .progress_br {
      border: 1px solid #eeeeee;
      padding: 5px;
      border-radius: 10px; }
    .tools_expert .skill_main .skill_item .progress {
      height: 10px;
      border-radius: 10px;
      background: #e8e8e8; }
      .tools_expert .skill_main .skill_item .progress .progress-bar {
        width: 0%;
        transition: width .6s ease;
        height: 10px;
        border-radius: 5px;
        vertical-align: middle;
        align-self: center;
        background-image: -moz-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
        background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
        background-image: -ms-linear-gradient(0deg, #766dff 0%, #88f3ff 100%); }

/* End Welcome Area css
============================================================================================ */
/* My Tabs Area css
============================================================================================ */
.mytabs_area {
  background-image: url(../img/raghu/bg.jpg);
  background-position: 50%
  }

.tabs_inner .nav.nav-tabs {
  display: block;
  text-align: center;
  border: none;
  margin-bottom: 120px; }
  .tabs_inner .nav.nav-tabs li {
    display: inline-block;
    margin-right: 8px; }
    .tabs_inner .nav.nav-tabs li a {
      margin: 0px;
      line-height: 50px;
      border-radius: 5px;
      padding: 0px 40px;
      font-size: 13px;
      font-weight: 500;
      color: #fff;
      font-family: "Roboto", sans-serif;
      border: 1px solid #9ab5f5;
      background: rgba(255, 255, 255, 0.1); }
      .tabs_inner .nav.nav-tabs li a.active {
        background: #fff;
        color: #222222; }
.tabs_inner .tab-content .tab-pane .list {
  max-width: 460px;
  margin: auto;
  position: relative;
  padding-top: 40px;
  padding-bottom: 60px; }
  .tabs_inner .tab-content .tab-pane .list:before {
    content: "";
    height: 100%;
    width: 5px;
    background: rgba(255, 255, 255, 0.2);
    position: absolute;
    left: 46%;
    transform: translateX(-50%);
    top: -5px; }
  .tabs_inner .tab-content .tab-pane .list li {
    margin-bottom: 60px;
    position: relative; }
    .tabs_inner .tab-content .tab-pane .list li span {
      height: 15px;
      width: 15px;
      border-radius: 50%;
      display: block;
      background: rgba(255, 255, 255, 0.2);
      position: absolute;
      left: 46%;
      top: 30px;
      transform: translateX(-50%); }
      .tabs_inner .tab-content .tab-pane .list li span:before {
        content: '';
        height: 7px;
        width: 7px;
        background: #fff;
        border-radius: 50%;
        position: absolute;
        left: 52%;
        top: 4px;
        transform: translateX(-50%); }
    .tabs_inner .tab-content .tab-pane .list li:last-child {
      margin-bottom: 0px; }
    .tabs_inner .tab-content .tab-pane .list li .media .d-flex {
      padding-right: 100px; }
      .tabs_inner .tab-content .tab-pane .list li .media .d-flex p {
        color: rgba(255, 255, 255, 0.75);
        margin-bottom: 0px;
        padding-top: 20px; }
    .tabs_inner .tab-content .tab-pane .list li .media .media-body h4 {
      color: #fff;
      font-size: 21px;
      text-transform: uppercase;
      margin-bottom: 20px; }
    .tabs_inner .tab-content .tab-pane .list li .media .media-body p {
      color: rgba(255, 255, 255, 0.75);
      margin-bottom: 0px; }

/* End My Tabs Area css
============================================================================================ */
/* Feature Area css
============================================================================================ */
.feature_area {
  background: #f9f9ff; }
  .feature_area.feature_tow {
    background: #fff; }
    .feature_area.feature_tow .feature_item {
      background: #f9f9ff; }
      .feature_area.feature_tow .feature_item:hover {
        background: #fff; }
  .feature_area.white_feature {
    background: #fff; }
    .feature_area.white_feature .feature_item {
      background: #f9f9ff; }
      .feature_area.white_feature .feature_item:hover {
        background: #fff; }

.feature_inner {
  margin-bottom: -30px; }

.feature_item {
  padding: 50px 35px;
  border-radius: 10px;
  transition: all 300ms linear 0s;
  background: #fff;
  margin-bottom: 30px; }
  .feature_item i {
    margin-bottom: 35px;
    display: block; }
    .feature_item i:before {
      margin-left: 0px;
      font-size: 60px;
      color: #e1e1e1;
      line-height: 60px; }
  .feature_item h4 {
    color: #222222;
    font-size: 21px;
    font-family: "Heebo", sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
	text-align:center;
	margin-top:20px;
	}
  .feature_item p {
    margin-bottom: 0px; }
  .feature_item .main_btn {
    padding: 0px 30px;
    line-height: 38px; }
  .feature_item:hover {
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.08);
    border-color: #fff;
    background: #fff; }
    .feature_item:hover i:before {
      background: linear-gradient(to right, #8490ff 0%, #62bdfc 70%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }

/* End Feature Area css
============================================================================================ */
/* Personal Profile Area css
============================================================================================ */
.profile_area .col-lg-7 {
  vertical-align: middle;
  align-self: center; }

.profile_inner {
  border-bottom: 1px solid #eeeeee; }
  .profile_inner .personal_text {
    padding-left: 95px; }

.personal_text h6 {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2.1px;
  font-weight: normal;
  margin-bottom: 12px;
  color: #222222; }
.personal_text h4 {
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #222222; }
.personal_text h3 {
  font-size: 48px;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #222222; }
.personal_text p {
  font-family: "Roboto", sans-serif;
  max-width: 540px;
  color: #777777;
  margin-bottom: 40px; }
.personal_text .basic_info li {
  margin-bottom: 15px; }
  .personal_text .basic_info li a {
    position: relative;
    padding-left: 40px;
    font-size: 16px;
    color: #777777; }
    .personal_text .basic_info li a i {
      position: absolute;
      left: 0px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 20px;
      color: #766dff; }
  .personal_text .basic_info li:last-child {
    margin-bottom: 0px; }
.personal_text .personal_social {
  margin-top: 45px; }
  .personal_text .personal_social li {
    display: inline-block;
    margin-right: 7px; }
    .personal_text .personal_social li:last-child {
      margin-right: 0px; }
    .personal_text .personal_social li a {
      line-height: 40px;
      width: 40px;
      background: #e8e8e8;
      border-radius: 5px;
      display: inline-block;
      text-align: center;
      color: #fff;
      font-size: 16px; }
    .personal_text .personal_social li:hover a {
      background-image: -moz-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
      background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
      background-image: -ms-linear-gradient(0deg, #766dff 0%, #88f3ff 100%); }

/* End Personal Profile Area css
============================================================================================ */
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/* Gallery Area css
============================================================================================ */
.isotope_fillter {
  margin-bottom: 50px; }
  .isotope_fillter .gallery_filter {
    text-align: center; }
    .isotope_fillter .gallery_filter li {
      display: inline-block;
      margin-right: 45px; }
      .isotope_fillter .gallery_filter li:last-child {
        margin-right: 0px; }
      .isotope_fillter .gallery_filter li a {
        font-size: 12px;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        color: #222222;
        transition: all 300ms linear 0s;
        text-transform: uppercase; }
      .isotope_fillter .gallery_filter li:hover a, .isotope_fillter .gallery_filter li.active a {
        color: #766dff; }

.gallery_f_inner {
  margin-bottom: -45px; }

.h_gallery_item {
  display: inline-block;
  margin-bottom: 45px; }
  .h_gallery_item .g_img_item {
    position: relative;
    text-align: center;
    overflow: hidden;
    border-radius: 5px; }
    .h_gallery_item .g_img_item:before {
      content: "";
      width: 100%;
      height: 100%;
      left: 0px;
      top: 0px;
      background-image: -moz-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
      background-image: -ms-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
      position: absolute;
      opacity: 0;
      transition: all 300ms ease; }
    .h_gallery_item .g_img_item .light {
      position: absolute;
      left: 0px;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      text-align: center;
      opacity: 0; }
  .h_gallery_item .g_item_text {
    text-align: center; }
    .h_gallery_item .g_item_text h4 {
      color: #222222;
      font-size: 21px;
      margin-top: 22px;
      transition: all 300ms linear 0s; }
    .h_gallery_item .g_item_text p {
      margin-bottom: 0px; }
  .h_gallery_item:hover .g_img_item:before {
    opacity: .85; }
  .h_gallery_item:hover .g_img_item .light {
    opacity: 1; }
  .h_gallery_item:hover .g_item_text h4:hover {
    color: #766dff; }

.more_btn {
  text-align: center;
  margin-top: 80px; }

/* End Gallery Area css
============================================================================================ */
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/* Testimonials Area css
============================================================================================ */
.testimonials_area {
  background: #f9f9ff; }
  .testimonials_area.testi_two {
    background: #fff; }
    .testimonials_area.testi_two .testi_inner {
      margin-top: -20px;
      margin-bottom: -20px; }
    .testimonials_area.testi_two .owl-item {
      padding: 20px 0px; }
    .testimonials_area.testi_two .testi_item {
      background: #f9f9ff;
      border-color: #f9f9ff;
      transition: all 300ms linear 0s; }
      .testimonials_area.testi_two .testi_item:hover {
        background: #fff;
        border-color: #fff;
        box-shadow: 0px 10px 30px 0px rgba(153, 153, 153, 0.1); }

.testi_inner .col-lg-3 {
  vertical-align: middle;
  align-self: center; }

.test_title h2 {
  color: #222222;
  font-size: 36px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-bottom: 12px; }
.test_title p {
  margin-bottom: 0px; }

.testi_item {
  border: 1px solid #eeeeee;
  border-radius: 10px;
  background: #fff;
  padding: 40px 28px; }
  .testi_item p {
    font-style: italic; }
  .testi_item h4 {
    color: #222222;
    font-size: 18px;
    text-transform: uppercase; }
  .testi_item a {
    color: #ffc000; }

/* End Testimonials Area css
============================================================================================ */
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/* Footer Area css
============================================================================================ */
.footer_area {
  background: #000; }

.f_title {
  margin-bottom: 35px; }
  .f_title h3 {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    font-family: "Heebo", sans-serif;
    margin-bottom: 0px; }

.ab_widget p {
  font-size: 14px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  color: #777777;
  margin-bottom: 30px; }
  .ab_widget p a {
    color: #766dff; }
  .ab_widget p + p {
    margin-bottom: 0px; }

.news_widget {
  padding-right: 15px; }
  .news_widget p {
    font-size: 14px;
    line-height: 24px;
    font-family: "Roboto", sans-serif;
    color: #777777;
    margin-bottom: 15px; }
  .news_widget .input-group input {
    height: 40px;
    background: transparent;
    border-radius: 0px;
    width: 80%;
    border: none;
    padding: 0px 15px;
    border: 1px solid #1e233b;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    color: #cccccc;
    outline: none;
    box-shadow: none; }
    .news_widget .input-group input.placeholder {
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      font-weight: normal;
      color: #cccccc; }
    .news_widget .input-group input:-moz-placeholder {
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      font-weight: normal;
      color: #cccccc; }
    .news_widget .input-group input::-moz-placeholder {
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      font-weight: normal;
      color: #cccccc; }
    .news_widget .input-group input::-webkit-input-placeholder {
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      font-weight: normal;
      color: #cccccc; }
  .news_widget .input-group .sub-btn {
    border-radius: 0px;
    background-image: -moz-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
    background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
    background-image: -ms-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
    outline: none !important;
    box-shadow: none !important;
    padding: 0px;
    border: none;
    width: 42px;
    cursor: pointer;
    color: #fff; }

.social_widget p {
  font-size: 14px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  color: #777777;
  margin-bottom: 10px; }
.social_widget .list li {
  margin-right: 17px;
  display: inline-block; }
  .social_widget .list li a {
    color: #cccccc;
    font-size: 14px;
    transition: all 300ms linear 0s; }
  .social_widget .list li:last-child {
    margin-right: 0px; }
  .social_widget .list li:hover a {
    color: #766dff; }

.copy_right_text {
  text-align: center;
  margin-top: 60px; }
  .copy_right_text p a {
    color: #766dff; }
	
.banner-left h1 { 
    font-family: "Poppins", sans-serif;
}
.banner-left h1 span {
  text-transform: uppercase;
  font-weight: 600;
  font-size:36px;
}
.carousel-item img{
	width:100%;
}
.client-logo{
	height: 90px !important;   
    width: 140px !important;   
}
.client-white-bg{
	height: 90px !important;   
    width: 160px !important; 
}
.client-white-logo{
	height: 120px !important;
    width: 160px !important;
    margin-top: -15px;
    margin-bottom: -15px;
	
}
.img-icon{
	width: 85px;
    margin-bottom: 28px;
	margin:auto;
	display:block;
}
.header_area .navbar {
    background: black !important;   
    height: 70px;
}
.carousel-indicators li {
	width: 10px  !important;
    height: 10px  !important;   
    border-radius: 100%  !important;   
}
.carousel-bg{
	  padding-top: 76px !important;
    padding-bottom: 75px !important;
    background-color: #000000 !important;
}
.carousel-inner{
  width:100%;
  height: 100% !important;
}
.div-center{
	 height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  .carousel-inner img {
    width: 100%;
	height: 100%;
  }
 
@media (max-width: 992px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
    justify-content: center;
}

@media (min-width: 992px) {
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(16.6%);
    }
    
    .carousel-inner .carousel-item-left.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-16.6%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
    transform: translateX(0);
}


.pdng{
	padding-top:15px; !important;
	padding-bottom:15px; !important;
}
.custom-tab{
	    margin-bottom: 50px !important;
		position: relative;
        top: 20px;
}
	.welcome_text img{
		width:250px;
	}
.clients-main-title{
	margin: 0px auto 45px;
    padding-top: 45px;
}
/* End Footer Area css
============================================================================================ */
/*---------------------------------------------------- */

/*# sourceMappingURL=style.css.map */
